/* This style sheet is for quiz-box animation */

body {
  font-size: 20px;
  font-family: sans-serif;
  overflow: hidden;
}

#container {
  position: relative;
  margin: 80px 10px 200px 1050px;
  background-color: white;
  height: 250px;
  width: 450px;
  border-radius: 10px;
  box-shadow: 0px 5px 15px 0px;
}

#start {
  position: absolute;
  font-size: 1.5em;
  font-weight: bold;
  width: 250px;
  height: 180px;
  border: 2px solid blueviolet;
  text-align: center;
  cursor: pointer;
  left: 100px;
  top: 33px;
  color: black;
  line-height: 40px;
}

#start:hover {
  border: 3.5px solid orangered;
  color: orangered;
}

#question p {
  position: absolute;
  left: 170px;
  font-size: 1.7em;
  top: 25px;
}

#choices {
  position: absolute;
  width: 480px;
  top: 100px;
  left: 80px;
}

.choice {
  display: inline-block;
  width: 135px;
  text-align: center;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px;
}

.choice:hover {
  border: 2px solid black;
  font-weight: bold;
}

#counter {
  position: absolute;
  text-align: center;
  left: 230px;
  top: 175px;
  font-size: 1.5em;
  color: red;
}

#progress {
  position: absolute;
  width: 1000px;
  bottom: 8px;
  right: 100px;
  text-align: right;
}

.prog {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid black;
  border-radius: 50%;
  margin-left: 5px;
  margin-right: 5px;
}